/*
    Style details
 */
/*.autocomplete-suggestions {
    @extend .dropdown-menu;

     Copied from Bootstrap's _dowpdowns.scss as it can't be extended
    .autocomplete-suggestion {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.5;
        color: gray;
        white-space: nowrap; // prevent links from randomly breaking onto new lines
    }
    .autocomplete-suggestion.autocomplete-selected {
      text-decoration: none;
      color: darken(gray, 5%);
      background-color: light-gray;
    }
}*/

/*
    Dropzone Override
 */
 .dropzone {
    &.dz-previews-container {
        border: 0;
        border-radius: 0;
        padding: 0;
        height: auto;
        min-height: auto;

        #submit_all {
            margin-top: 20px;
        }

        .dz-preview {
            /*width: 216px;*/
            margin: 10px 0;
        }
        .dz-preview .dz-image {
            border-radius: 5px;
            width: 100%;
        }
        .dz-preview .dz-image img {
            width: 100%;
        }
    }
    &.dz-container {
        border: 5px dotted black;
        border-radius: 20px;
        padding: 20px 6px;
        min-height: 150px;
    }

    .dz-extrafields {
        padding: 10px;

        textarea {
            height: 60px;
        }
    }
}
/*
    Dropzone tracks
 */
.dropzone {

    &.dz-audio-previews-container {
        .dz-error-message {
            top: 0 !important;
        }
    }

    .dz-audio-preview {
        padding: 10px;

        audio {
            display: block;
            width: 100%;
        }
    }
}
/*
    Steps in a set of forms.
*/
.steps h4 {
    font-size: 16px;
}
/*
    Centers divs inside a text-center
*/
.text-center > div {
    margin-left: auto;
    margin-right: auto;
}

/**
 * Like button
 * @see https://bootsnipp.com/snippets/featured/buttons-with-labels
 */
.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;
}
.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

/**
 * Cards
 */
.card .content .main {
    padding: 5px;
}
.card-shadow {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.07), 0 1px 5px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.07), 0 1px 5px 0 rgba(0,0,0,.1);
}

/**
 * Better posts and comments in posts
 */
.panel-post .post-content { word-break: break-word; }
.panel-post .comment-info { line-height: inherit; }

/**
 * Link preview on new post
 */
.new-post-box .link-area {
    display: none;
    
    img {
        object-fit: cover;
        height: 200px;
        margin-bottom: 10px;
    }
}

/**
 * Link preview on published post
 */
.post-content-link-preview {
    
    @import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:400,600');
    .wrapper {
        overflow: auto;
        border-radius: 7px 7px 7px 7px;
        background-color: #fff;
        -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    }
    .card-img {
        width: 100%;
    }
    .card-img img {
        width: 100%;
        border-radius: 7px 7px 0 0;
        object-fit: cover;
        height: 200px;
        margin-bottom: 10px;
    }
    img {
        vertical-align: middle;
        border-style: none;
    }
    .card-info {
        border-radius: 0 0 7px 7px;
        background-color: #ffffff;
    }
    .card-text {
        width: 80%;
        margin: 0 auto;
        text-align: justify;
    }
    .card-text h1 {
        text-align: center;
        font-size: 24px;
        color: #474747;
        margin: 5px 0 5px 0;
        font-family: 'Hind Siliguri', sans-serif;
    }
    .card-text p {
        font-family: 'Hind Siliguri', sans-serif;
        color: #8d8d8d;
        font-size: 15px;
        overflow: hidden;
        margin: 0;
        text-align: center;
    }
    .card-btn {
        margin: 1em 0 1em 0;
        position: relative;
        text-align: center;
    }
    .card-btn a {
        border-radius: 2em;
        font-family: 'Hind Siliguri', sans-serif;
        font-size: 14px;
        letter-spacing: 0.1em;
        color: #ffffff;
        background-color: #ffa9be;
        padding: 10px 20px 10px 20px;
        text-align: center;
        display: inline-block;
        text-decoration: none !important;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .card-btn a:hover {
        background-color: #ff8fab;
    }
}
